.btn {
  position: relative;
  display: inline-block;
  width: 12rem;
  height: auto;
  padding: 0.15rem;
  outline: none;
  border: none;
  font-size: 0.9rem;
  background: var(--base-300);
  backdrop-filter: blur(10px);
  border-radius: 4rem;
  cursor: pointer;
  margin: 1rem 0;
  transform: scale(0);
}

@media (max-width: 768px) {
  .btn {
    transform: scale(1) !important;
    opacity: 1 !important;
    visibility: visible !important;
  }
}

.btn .circle {
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #253a87;
  border-radius: 4rem;
  font-size: 1.5rem;
  transform: scale(0);
  overflow: hidden;
  transition: width 0.5s cubic-bezier(0.65, 0, 0.076, 1), transform 0.3s ease;
}

@media (max-width: 768px) {
  .btn .circle {
    transform: scale(1) !important;
    opacity: 1 !important;
    visibility: visible !important;
    min-width: 3rem;
    min-height: 3rem;
  }
}

.btn .icon {
  position: absolute;
  top: 0.775rem;
  left: 0.95rem;
  color: #ffffff;
  font-size: 1.5rem;
  transform: translateX(0);
  transition: all 0.5s cubic-bezier(0.65, 0, 0.076, 1);
  will-change: transform;
}

.btn .button-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 0 0 1.25rem;
  text-align: center;
  color: #ffffff;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  line-height: 1;
  white-space: nowrap;
  transition: all 0.5s cubic-bezier(0.65, 0, 0.076, 1), opacity 0.3s ease;
}

.btn .line {
  position: relative;
  transform: translateY(100%);
  will-change: transform;
  padding-bottom: 0.2em;
  margin-bottom: -0.2em;
}

.btn:hover .circle {
  width: 100%;
  transform: scale(1.05);
}

.btn:hover .icon {
  transform: translateX(0);
}

.btn:hover .button-text {
  color: #ffffff;
}
