.hero {
  position: relative;
  width: 100vw;
  height: 100svh;
  overflow: hidden;
  background-color: #ffffff;
}

.hero .hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.hero .hero-gradient {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50svh;
  background: #ffffff;
  background: linear-gradient(
    360deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  z-index: 2;
}

.hero .hero-content {
  position: absolute;
  top: 50svh;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--base-500);
  text-align: center;
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
}

.hero .hero-content h1 {
  color: #263886;
  font-size: 4rem;
  font-weight: 500;
  letter-spacing: -0.2rem;
  line-height: 1.1;
}

.hero .hero-tagline {
  width: 40%;
  color: var(--base-300);
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.4;
}

.hero .hero-stats {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 2;
}

.hero .hero-stats .container {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.hero .hero-stats .stat {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  aspect-ratio: 16/9;
  color: var(--base-200);
  background-color: rgba(242, 237, 230, 0.1);
  backdrop-filter: blur(1rem);
  border-radius: 1rem;
  overflow: hidden;
}

.hero .hero-stats .stat-count,
.hero .hero-stats .stat-info {
  flex: 1;
}

.hero .hero-stats .stat-divider {
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.05);
}

.hero .hero-stats .stat-info {
  display: flex;
  align-items: flex-end;
}

@media (max-width: 1000px) {
  .hero {
    height: 175svh;
  }
  .hero .hero-content {
    width: 100%;
  }

  .hero .hero-tagline {
    width: 75%;
  }

  .hero .hero-content h1 {
    font-size: 2.5rem;
    letter-spacing: -0.1rem;
  }

  .hero .hero-stats .container {
    flex-direction: column;
  }

  .hero .hero-stats .stat {
    aspect-ratio: 16/6;
  }

  .hero .hero-stats .stat-divider {
    display: none;
  }
}

.what-we-do {
  width: 100vw;
  height: max-content;
  color: var(--base-500);
  padding-top: 2rem;
}

.what-we-do .container {
  padding-left: 4rem;
  padding-right: 4rem;
}

.what-we-do .container h1 {
  margin-bottom: 10rem;
  color: #263886;
}

.what-we-do .what-we-do-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  position: relative;
  justify-content: space-between;
}

.what-we-do .what-we-do-col {
  flex: 1 1 45%;
  min-width: 0;
}

.what-we-do .what-we-do-col.what-we-do-full-width {
  flex: 1 1 100%;
  width: 100%;
}

.what-we-do .what-we-do-col:nth-child(1) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

.what-we-do .what-we-do-title {
  font-size: 4rem;
  font-weight: 500;
  letter-spacing: -0.2rem;
  line-height: 1.1;
  color: #263886;
  text-align: left;
  margin: 0;
}

.what-we-do .what-we-do-col:nth-child(1) p.lg {
  color: var(--base-300);
  width: 100%;
  max-width: none;
  text-align: left;
}

.what-we-do .what-we-do-col:nth-child(1) p {
  color: var(--base-500);
}

.what-we-do .what-we-do-col:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
}

.what-we-do .what-we-do-col:nth-child(3) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
}

.what-we-do .what-we-do-title-right {
  font-size: 4rem;
  font-weight: 500;
  letter-spacing: -0.2rem;
  line-height: 1.1;
  color: #263886;
  text-align: right;
  margin: 0;
}

.what-we-do .what-we-do-col:nth-child(2) p.lg,
.what-we-do .what-we-do-col:nth-child(3) p.lg {
  color: var(--base-300);
  width: 100%;
  max-width: none;
  text-align: left;
  direction: ltr;
}

@media (max-width: 1000px) {
  .what-we-do .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .what-we-do .container h1 {
    margin-bottom: 8rem;
  }

  .what-we-do-content {
    flex-direction: column;
  }

  .what-we-do .what-we-do-col:nth-child(1) p.lg,
  .what-we-do .what-we-do-col:nth-child(2) p.lg {
    width: 100%;
    max-width: 100%;
    text-align: left;
  }

  .what-we-do .what-we-do-col:nth-child(2) {
    align-items: flex-start;
  }

  .what-we-do .what-we-do-title,
  .what-we-do .what-we-do-title-right {
    font-size: 2.5rem;
  }

  .what-we-do .what-we-do-col:nth-child(2) {
    justify-content: flex-start;
    gap: 2rem;
  }
}

.featured-projects-container {
  position: relative;
  width: 100vw;
  padding: 10rem 0 4rem 0;
  color: var(--base-500);
  overflow: hidden;
}

.featured-projects-container .featured-projects-header-callout {
  text-align: center;
  color: var(--base-350);
  margin-bottom: 2rem;
}

.featured-projects-container .container {
  padding-left: 3rem;
  padding-right: 1rem;
}

.featured-projects-container .featured-projects-header {
  width: 50%;
  text-align: left;
  margin: 0 0 2rem 0;
  padding-left: 0;
}

.featured-projects-container .featured-projects-header h2 {
  color: #263886;
  text-align: left;
}

@media (max-width: 1000px) {
  .featured-projects-container .featured-projects-header {
    width: 100%;
  }
}

.client-reviews-container {
  position: relative;
  width: 100vw;
  height: 120svh;
  color: var(--base-500);
  padding: 2rem 0 0 0;
  margin-bottom: -15rem;
}

.client-reviews-container .client-reviews-header-callout {
  text-align: center;
  color: var(--base-350);
  margin-bottom: 1rem;
}

@media (max-width: 1000px) {
  .client-reviews-container .client-reviews-header-callout {
    margin-bottom: 3rem;
  }
}

@media (min-height: 1200px) {
  .client-reviews-container {
    margin: 10rem 0 4rem 0;
    height: 60svh;
  }
}

.how-i-work-container {
  position: relative;
  width: 100vw;
  padding: 2rem 0 2rem 0;
  color: var(--base-500);
  margin-top: 0;
}

.how-i-work-container .container {
  padding-left: 3rem;
  padding-right: 1rem;
}

.how-i-work-container .how-i-work-header-callout {
  text-align: left;
  color: var(--base-350);
  margin-bottom: 1.5rem;
}

@media (max-width: 1000px) {
  .how-i-work-container {
    padding: 2rem 0;
  }

  .how-i-work-container .how-i-work-header-callout {
    margin-bottom: 1.5rem;
  }
}

.about-me-container {
  position: relative;
  width: 100vw;
  padding: 6rem 0 10rem 0;
  color: var(--base-500);
}

.about-me-container .about-me-header-callout,
.about-me-container .about-me-header {
  text-align: left;
}

.about-me-container .about-me-header-callout {
  color: var(--base-350);
  margin-bottom: 1rem;
}

.about-me-container .about-me-header {
  width: 50%;
  margin: 0 0 4rem 0;
}

.about-me-container .about-me-header h2 {
  color: #263886;
}

@media (max-width: 1000px) {
  .about-me-container .about-me-header {
    width: 100%;
  }
}

.about-me-container .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 2rem;
}

.about-me-top {
  display: flex;
  gap: 3rem;
  margin-bottom: 3rem;
  align-items: stretch;
  min-height: 500px;
}

.about-me-image {
  flex: 0 0 auto;
  width: 45%;
  height: 100%;
  display: flex;
  align-items: stretch;
}

.about-me-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.about-me-main-text {
  flex: 1;
  display: flex;
  align-items: flex-start;
  height: 100%;
}

.about-me-main-text h1 {
  color: #263886;
  margin: 0;
}

.about-me-bottom {
  display: flex;
  gap: 3rem;
}

.about-me-bottom-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.about-me-bottom-right {
  flex: 1;
}

.about-me-bottom-col {
  flex: 1;
}

.about-me-bottom-col p {
  color: var(--base-300);
  font-size: 1rem;
  line-height: 1.6;
  margin: 0;
}

@media (max-width: 1000px) {
  .about-me-container {
    padding: 6rem 0;
  }

  .about-me-top {
    flex-direction: column;
    gap: 2rem;
  }

  .about-me-image {
    width: 100%;
  }

  .about-me-bottom {
    flex-direction: column;
    gap: 2rem;
  }
  
  .about-me-bottom-left {
    gap: 2rem;
  }
}

.gallery-callout {
  position: relative;
  width: 100vw;
  height: 100%;
  min-height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #ffffff;
  color: var(--base-200);
}

.gallery-callout .container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.gallery-callout .gallery-callout-col {
  flex: 1;
}

.gallery-callout .gallery-callout-copy {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.gallery-callout .gallery-callout-col:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.gallery-callout .gallery-callout-row {
  position: relative;
  left: -10vw;
  display: flex;
  width: 100%;
  gap: 1rem;
}

.gallery-callout .gallery-callout-img {
  position: relative;
  aspect-ratio: 5/4;
  flex: 1;
  border-radius: 0.75rem;
  overflow: hidden;
}

.gallery-callout .gallery-callout-img-content {
  position: absolute;
  z-index: 1;
  bottom: 1rem;
  left: 1rem;
  padding: 1rem;
  background-color: rgba(20, 19, 19, 0.25);
  backdrop-filter: blur(15px);
  color: var(--base-500);
  border-radius: 0.75rem;
}

.gallery-callout .gallery-callout-img-content p {
  color: var(--base-200);
}

.gallery-callout .gallery-callout-img-1 {
  flex: 0.75;
}

.gallery-callout .gallery-callout-img-4 {
  flex: 0.75;
}

.gallery-callout .gallery-callout-row:nth-child(1) {
  align-items: flex-end;
}

.gallery-callout .gallery-callout-row:nth-child(2) {
  align-items: flex-start;
}

@media (max-width: 1000px) {
  .gallery-callout .container {
    flex-direction: column;
  }

  .gallery-callout .gallery-callout-row {
    left: 0;
  }

  .gallery-callout .gallery-callout-img-content {
    display: none;
  }
}
